:root{
    --fondodiv : black;
    --colortexto : white;
    --colorpeligro : red;    
}
.black-box{
    background-color: var(--fondodiv);
    color: var(--colortexto)
}
.caja{
    color: var(--colorpeligro);
}

//@media css tamaños

@media (max-width: 100px) {

.container {

grid-template-areas: 

"header"

"main"

"nav"

"redes"

"contacto"

"footer"

}
  
iframe{
    width: 100%;
}
.caja{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    text-align: center;
}
.caja_informacion{
    color: rgb(0, 0, 0);
    background-color: green;
}
.fondo, .clasex{
    background-color: purple;
}